<div class="row">
            <div class="col l2"></div>
        <div class="col s12 l8">
            
            <h2 class="indigo-text text-darken-3 center "> History of Eucossa community. </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis voluptatum sapiente ullam adipisci perferendis,
                repellat architecto distinctio fugit,
                pariatur consequuntur hic odio, ipsum culpa vel repellendus id?
                Consequuntur, cumque iusto?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis voluptatum sapiente ullam adipisci perferendis,
                repellat architecto distinctio fugit,
                pariatur consequuntur hic odio, ipsum culpa vel repellendus id?
                Consequuntur, cumque iusto?
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Reiciendis voluptatum sapiente ullam adipisci perferendis,
                repellat architecto distinctio fugit,
                pariatur consequuntur hic odio, ipsum culpa vel repellendus id?
                Consequuntur, cumque iusto?
            </p>
        </div>
        <div class="col l2"></div>
</div>
