<!-- footer -->
<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <h5>About Us</h5>
                <p>
                    Eucossa in full means Egerton University Computer Science Students Association
                </p>
                <p>
                    Here at Eucossa We are dedicated in helping young talents into the world of tech and IT
                    as a whole as well as helping those who whish and have the drive to join us
                </p>
            </div>
            <div class="col s12 l4 offset-l2">
                <h5>Connect</h5>
                <ul>
                    <li>
                        <a href="#" class=" tooltipped grey-text text-lighten-3 "
                            data-tooltip=" click to visit Euccossa facebook account">Facebook</a>
                    </li>
                    <li>
                        <a href="#" class=" tooltipped grey-text text-lighten-3"
                            data-tooltip=" click to visit Euccossa Twitter account">Twitter</a>
                    </li>
                    <li>
                        <a href="#" class=" tooltipped grey-text text-lighten-3"
                            data-tooltip=" click to visit Euccossa LinkedIn account">LinkedIn</a>
                    </li>
                    <li>
                        <a href="#" class=" tooltipped grey-text text-lighten-3"
                            data-tooltip=" click to visit Euccossa Instagram account">Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container center-align">&copy;2019 EUCCOSA</div>
    </div>
</footer>
