<!-- navbar components -->
<header>
    <nav class="nav-wrapper transparent">
        <div class="container">
            <div class="navbar-fixed">
                <a routerLink="" class="brand-logo">
                    Euccossa
                </a>
                <a routerLink="" class="sidenav-trigger" data-target='mobile-menu'>
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a routerLink="/about" class>About us </a></li>

                    <li><a routerLink="/contact">Contact Us </a></li>
                </ul>
            </div>
           
            <ul class="sidenav grey lighten-2" id="mobile-menu">
                
                <li><a routerLink="/" class="sidenav-close">Home </a></li>
                <li><a routerLink="/about" class="sidenav-close">About us </a></li>
                <li><a routerLink="/contact" class="sidenav-close">Contact Us </a></li>
            </ul>
        </div>
    </nav>
</header>
